# Task: City Analysis

### Identify the city with the highest number of restaurants in the dataset.

In [1]:
import pandas as pd  # pandas for data manipulation

df = pd.read_csv("Dataset.csv")  #data set loading from csv to data frame
cities = df["City"]   #taking city column in the data frame
print(cities.head())  #printing top 5 cities

0         Makati City
1         Makati City
2    Mandaluyong City
3    Mandaluyong City
4    Mandaluyong City
Name: City, dtype: object

In [2]:
total_cities = cities.value_counts() #calculate number of repeatation of cities 
print(total_cities.head(1))  #highest restaurant in a city

New Delhi    5473
Name: City, dtype: int64

### Calculate the average rating for restaurants in each city.

In [3]:
print(len(total_cities)) # Total number of cities

141

In [4]:
df["Aggregate rating"] = pd.to_numeric(df["Aggregate rating"], errors="coerce")

In [6]:
city_avg_rating = df.groupby("City")["Aggregate rating"].mean()
print(city_avg_rating)

City
Abu Dhabi          4.300000
Agra               3.965000
Ahmedabad          4.161905
Albany             3.555000
Allahabad          3.395000
                     ...
Weirton            3.900000
Wellington City    4.250000
Winchester Bay     3.200000
Yorkton            3.300000
��stanbul          4.292857
Name: Aggregate rating, Length: 141, dtype: float64

### Determine the city with the highest average rating.

In [7]:
Highest_rated_city = city_avg_rating.sort_values(ascending=False).index[0]
Highest_rated_value = city_avg_rating.max()
print(Highest_rated_city,"-" ,Highest_rated_value)

Inner City - 4.9